{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>PGF Mitigation Plan Simulation</title>
    <style type="text/css">
    .chart_legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    .chart_fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
    }
    .regular-label {
        font-size: 1em;
        padding-right: 10px;
    }
    .share_table td {
        padding: 4px;
    }
    .share_table {
        width: auto;
    }
    .parameter_bandwidth_legend, .parameter_gating_legend {
        margin-bottom: 0;
        font-size: 0.95em;
        font-weight: bold;
    }
    .share_slider.slider-handle {
        background: lavender;
    }
    .alert {
        height: 0.6em;
        line-height: 0;
        display: none;
    }
    .close {
        line-height: 0 !important;
    }
    .share_group_value {
        margin-left: 10px;
    }
    .chart_one, .chart_two, .chart_three {
        margin-right: 10px;
    }
    .policy_item {
        text-align: right;
        clear: both;
    }
    .policy_item input[type=checkbox], .policy_item label {
        float: left;
    }
    .policy_item input[type=radio] {
        margin-left: 10px;
        float: right;
    }
    .color-box {
        width: 15px;
        height: 10px;
        display: inline-block;
        background-color: #ccc;
        margin-right: 5px;
    }
    .plan_cell, .plan_cell_centered {
        padding: 4px;
    }
    .plan_cell_centered {
        text-align: center;
    }
    .policy_title {
        font-weight: bold;
        padding-top: 4px;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation.js" %}'></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation_rec.js" %}'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/css/bootstrap-slider.css">
    <link rel="stylesheet" href='{% static "css/pgf_simulation.css" %}'>
    <link rel="shortcut icon" href='{% static "ico/favicon.ico" %}'>
</head>

<body>

<div class="container">
    <!-- The justified navigation menu is meant for single line per list item.
        Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Adaptive Quality of Experience</h3>
        <nav>
        <ul class="nav nav-justified">
            <li><a href="#">Home</a></li>
            <li><a href="/sim/">Mitigation Plans Simulation</a></li>
            <li class"active"><a href="#">Mitigation Plan Recommendation</a></li>
            <li><a href="/sim_admin/">Mitigation Plans Simulation Administration</a></li>
            <li><a href='{% static "html/about.html" %}'>About</a></li>
        </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron" id="jumbotron_pgf">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="logo"></div><div class="col-md-9"></div>
            </div>
        </div>
        <h2>PGF Mitigation Plan Recommendation</h2>
        <p class="lead">Get the best plan for your user and traffic mix.</p>
    </div>
</div>

<div class="container" id="menu_container">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-6 col-xs-10">
            <legend data-toggle="tooltip" data-placement="top" title="This section allows to choose one Key Performance Indicator (KPI). At least one must be selected">Select KPI to get best plan for:</legend>
            <table>
                <tr><td><input type="checkbox" value="video_freeze_rate" class="kpi_checkbox" id="vfr"><label class="regular-label" for="vfr" >Video Freeze Rate</label></td></tr>
                <tr><td><input type="checkbox" value="video_accessibility" class="kpi_checkbox" id="va"><label class="regular-label" for="va">Video Accessibility</label</td></tr>
            </table>
            <div class="alert alert-danger" role="alert" id="alert_kpi">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                You must choose at least <strong>one KPI</strong>
            </div>
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-6 col-xs-10">
            <legend data-toggle="tooltip" data-placement="top" title="Below, all the available customer groups are shown. Select some (or all) of them and choose the share of the group. Total must be 100">Select customer groups and assign shares</legend>
            <table class="share_table">
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="gold_group"></td>
                <td><label class="regular-label" for="gold_group">Gold</label>
                <input id="share_gold" class="share_slider" data-slider-id='gold_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="gold_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" class="share_checkbox" id="silver_domestic_group"></td>
                <td><label class="regular-label" for="silver_domestic_group">Silver Domestic</label>
                <input id="share_silver_domestic" class="share_slider" data-slider-id='silver_domestic_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="silver_domestic_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="silver_corporate_group"></td>
                <td><label class="regular-label" for="silver_corporate_group">Silver Corporate</label>
                <input id="share_silver_corporate" class="share_slider" data-slider-id='silver_corporate_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="silver_corporate_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_domestic_group"></td>
                <td><label class="regular-label" for="bronze_domestic_group">Bronze Domestic</label>
                <input id="share_bronze_domestic" class="share_slider" data-slider-id='bronze_domestic_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_domestic_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_corporate_group"></td>
                <td><label class="regular-label" for="bronze_corporate_group">Bronze Corporate</label>
                <input id="share_bronze_corporate" class="share_slider" data-slider-id='bronze_corporate_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_corporate_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_young_group"></td>
                <td><label class="regular-label" for="bronze_young_group">Bronze Young</label>
                <input id="share_bronze_young" class="share_slider" data-slider-id='bronze_young_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_young_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td></td>
                <td><label class="regular-label">Total</label>
                <input id="share_total" data-slider-id='share_slider_total' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="share_slider_total_value" class="share_group_value">0 %</label></td>
                </tr>
            </table>
            <div class="alert alert-danger" role="alert" id="alert_share_1">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                You must select at least <strong>one customer group</strong>
            </div>
            <div class="alert alert-danger" role="alert" id="alert_share_2">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                <span></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-6 col-xs-10" id="policy_list">
            <legend data-toggle="tooltip" data-placement="top" id="policy_label" title="Below, all the available policies are shown. Select some (or all) of them">Select policies</legend>
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
    <button type="button" class="btn btn-primary center-block foot_button" id="submit_rec_button">Get best plan</button>
</div>

<div class="container" id="recommendation-progress" style="display: none;">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-6 col-xs-10">
            <legend>Simulation progress</legend>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-6 col-xs-12">
            <div class="progress">
                <div id="progress_bar_rec" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                10%
                </div>
            </div>
            <div id="JSON_input"></div><div id="JSON_output"></div>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
</div>

<div class="container" id="recommendation-container" style="display: none;">
    <div id="JSON_input"></div><div id="JSON_output"></div>
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-6 col-xs-12 text-center" id="plan_output"></div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-xs-1"></div>
        <div class="col-md-3 col-xs-5 text-right">
              <button type="button" class="btn btn-primary foot_button" id="rec_back_button">More recommendations</button>
        </div>
        <div class="col-md-3 col-xs-5 text-left">
              <button type="button" class="btn btn-primary foot_button" id="save_button">Save plan</button>
        </div>
        <div class="col-md-3 col-xs-1"></div>
    </div>
</div>

<p id="void"></p>
<div class="container">
    <!-- Site footer -->
    <footer class="footer"></footer>
</div>

<script>
    var IMAGE_DIR = '{% static "img/" %}'
    var RECOMMENDATION_URL = '{{path}}';
    var POLICY_IMAGES = {"bandwidth_throttling_1000": '1Mbps.png', "to2G": '3Gto2G.png', "bandwidth_throttling_3000": '3Mbps.png', "to3G": '4Gto3G.png', "bandwidth_throttling_64": '64kbps.png', "file_transfer": 'filetransfer.png', "video": 'streaming.png', "video_acceleration": 'videooptimizer.png', "web_browsing": 'webbrowsing.png', "wifi": 'wifi.png'}

    //// Skin management
    var SKIN = '{{skin}}';
    
    //// Policies management
    {% autoescape off %}
    var policies = {{policies}};
    {% endautoescape %}
    $.each (policies, function (index, value) {
        var div_html_lead = '                                 <div class="checkbox">\n';
        var div_html_end  = '</div>\n';
        var div_html_body = '';
        var div_html = '';
        
        if (value === 'wifi') {
            div_html_body = '\
                                <label>\n \
                                <input type="checkbox" value="wifi" checked>\n \
                                Wifi Off-loading \n \
                                </label>\n \
                                ';
        } else if (value === 'to3g') {
            div_html_body = '\
                                <label>\n \
                                <input type="checkbox" value="to3g" checked>\n \
                                Switch to 3G \n \
                                </label>\n \
                                ';
        } else if (value === 'traffic_gating') {
            div_html_body = '\
                                <label>\n \
                                <input type="checkbox" value="gating-web_browsing" checked>\n \
                                Traffic Gating (web browsing)\n \
                                </label>\n \
                                ' + 
                                div_html_end +
                                div_html_lead +
                                '\
                                <label>\n \
                                <input type="checkbox" value="gating-file_transfer" checked >\n \
                                Traffic Gating (file transfer)\n \
                                </label>\n \
                                ' + 
                                div_html_end +
                                div_html_lead +
                                '\
                                <label>\n \
                                <input type="checkbox" value="gating-video" checked>\n \
                                Traffic Gating (video services) \n \
                                </label>\n \
                                ';
        } else if (value === 'bandwidth_throttling') {
            div_html_body = '\
                                <label>\n \
                                <input type="checkbox" value="throttling-3000" checked>\n \
                                Bandwidth Throttling (3 Mbps)\n \
                                </label>\n \
                                ' + 
                                div_html_end +
                                div_html_lead +
                                '\
                                <label>\n \
                                <input type="checkbox" value="throttling-1000" checked>\n \
                                Bandwidth Throttling (1 Mbps)\n \
                                </label>\n \
                                ' + 
                                div_html_end +
                                div_html_lead +
                                '\
                                <label>\n \
                                <input type="checkbox" value="throttling-64" checked>\n \
                                Bandwidth Throttling (64 kbps)\n \
                                </label>\n \
                                ';
        } else if (value === 'video_acceleration') {
            div_html_body = '\
                                <label>\n \
                                <input type="checkbox" value="video_acceleration" checked>\n \
                                Video Accelerattion\n \
                                </label>\n \
                                ';
        }
        div_html = div_html_lead + div_html_body + div_html_end;
        $('#policy_list').append(div_html);
    });
    $('#policy_list').append('\
                            <div class="alert alert-danger" role="alert" id="alert_policies">\n \
                            <button type="button" class="close"><span onclick="$(this).closest(&quot;.alert&quot;).hide();">&times;</span></button>\n \
                            You must select at least <strong>one policy</strong>\n \
                            </div>\n');

    //// Look and Feel management
    //$('#logo').attr('id','logo_'+LOGO);
    $('#logo').attr('id','logo_'+SKIN);
    $('.footer').html(FOOTER);

    // Initial form reset on document load    
    $( document ).ready(function() {
        $(".share_slider").slider({tooltip: 'hide'});
        $("#share_total").slider({tooltip: 'hide'});
    });
    
    // Slider control
    var total_slider_value = 0;
    $(".share_slider").on("slide", function(slideEvt) {
        var value_id = '#' + $(this).attr('data-slider-id') + '_value';
        $(value_id).text(slideEvt.value + ' %');
        var share_total = compute_share();
        set_share_slider (share_total[0]);
    });

    // Group selection/deselection
    $('.share_checkbox').change (policy_selection);

    // JSON submission and result drawing
    $('#submit_rec_button').click (gather_and_submit_recommendation_form);
    
    // Back function
    $('#rec_back_button').click (function () {
         document.location.reload(true);
    });
    
</script>
</body>
</html></body>
</html>