@font-face {
	font-family: 'Ericsson Capital TT';
	src: url('../fonts/EricssonCapitalTT.ttf') format('truetype');
}

a.navbar-brand.logo {
	font-family: Ericsson Capital TT;
	font-weight: bold;
	font-size: 30px;
}


div#panel-body {
	background: linear-gradient(to bottom, #23315A 0%, rgba(255, 255, 255, 1)
		50%);
	margin-top: -1.4%;
	min-height: 95%;
	max-width: 100%;
	max-height: 852px;
}

.container-fluid {
	background-color: white;
	margin-right: 2%;
}

.container-fluid.nav {
	background: linear-gradient(to bottom, #CCCCCC 0%, rgba(255, 255, 255, 1)
		50%);
}

.panel-heading.navbar {
	margin-bottom: 1%;
}


.panel-heading {
	background: #23315A;
	color: #fff;
}


span.label.label-default {
	font-size: initial;
	background: rgb(76, 97, 154);
	box-shadow: 0px 4px 8px 0px grey;
}


.chartstitle {
	background-color: rgb(76, 97, 154);
}

span.label.label-default {
	background: rgb(35, 49, 90);
}


.panel-heading {
	color: #fff;
	border-color: #23315A;
	background-image: none;
	background-color: #23315A;
}


input#buttonKpi {
	margin-top: -40px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #f5f5f5;
	border-top: 1px solid rgb(182, 182, 182);
	padding-top: 6px;
	padding-left: 25px;
	margin-bottom: 0px !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.footContainer .text-muted {
	margin: 20px 0;
}

.footerDIV>.footContainer {
	margin-left: 0% !important;
}

code {
	font-size: 80%;
}


.disabled {
	pointer-events: none;
	opacity: 0.4;
}