a.selected {
	color: red;
}

.navbar-default .navbar-nav>.active>a {
	background-image: linear-gradient(to bottom, white 0, white 100%)
		!important;
	border-left: solid 2px rgb(38, 52, 92);
	border-right: solid 2px rgb(38, 52, 92);
}

.navbar-logo2 {
	display: inline-block;
	font-family: ericsson;
}

#map-canvas, #map-table {
	height: 700px;
}

#map-canvas {
	position: relative;
	overflow: hidden;
	border: 2px solid #273f54;
}

#map-table .panel.panel-default {
	height: 100%;
}

img.navbar-brand {
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 15px;
	width: 50px;
	height: 45px;
}

.col-xs-4 {
	width: 20%;
}

.col-md-1 {
	margin-top: 1%;
	width: 15%;
}

div#navbarCollapse {
	background-color: white;
}

.col-md-4.c4 {
	margin-left: 20%;
	margin-top: 9.51%;
}

.colright {
	width: 21%;
	margin-left: 76%;
	margin-top: 0%;
}

.col-md-4.c1 {
	margin-top: 2%;
	margin-left: 3%;
}

.col-md-1.leftbody {
	width: 11%;
	margin-top: 2%;
	padding: 0;
	margin-left: 0%;
}

body {
	background: #ffffff;
}

table#eventTable {
	box-shadow: 0px 4px 8px 0px grey;
	font-size: 19px;
	font-family: monospace;
}

.row#r1 {
	border: solid 1px black;
	padding-left: 15px;
	padding-top: 15px;
	border-radius: 6px;
	box-shadow: 0px 4px 8px 0px grey;
	padding-bottom: 2%;
}

button#showcharts {
	margin-top: -3.5%;
	margin-left: 47.5%;
}

.row#r2 {
	border: solid 1px black;
	padding-left: 15px;
	padding-top: 15px;
	border-radius: 6px;
	box-shadow: 0px 4px 8px 0px grey;
	margin-top: 2%;
	margin-bottom: 3%;
}

.filters {
	padding: 4%;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
}

.filters2 {
	padding: 9%;
	padding-top: 0;
	padding-bottom: 0;
}

.filterselect {
	/*display: -webkit-box;
	margin-top: 2%;*/
	margin-right: 15%;
}

.filterbutton {
	margin-top: 2.5%;
}

.col-md-4.c9 {
	width: initial;
}

.col-md-4.c2 {
	padding-left: 7%;
}

.col-md-4.c3 {
	padding-left: 13%;
}

.col-md-4.c8 {
	padding-left: 0%;
	width: 37%;
	margin-top: 0%;
	margin-left: 4%;
}

ul.nav.navbar-nav {
	height: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top {
	height: 5%;
}

li.list-group-item {
	margin-top: -6%;
}

.panel-heading.2 {
	font-size: 20px;
}

.panel.panel.group {
	border-color: black;
}

.panel.panel.group2 {
	border-color: black;
}

img#ericuser {
	width: 16px;
	height: 18px;
	background-color: white;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

div.div1 {
	width: 100%;
	height: auto;
	padding: 18px;
	padding-top: 0px;
	background-color: white;
	min-height: 46px;
	border-radius: 3px;
	padding-bottom: 0%;
	margin-top: 2%;
	min-height: 150px;
}

div.divint {
	width: 100%;
	height: auto;
	padding: 10px;
	border: 2px outset black;
	background-color: white;
	min-height: 46px;
	margin-bottom: 5%;
	margin-top: -1%;
}

div.divintpeque {
	width: 10%;
	height: auto;
	padding: 10px;
	border: 1px solid black;
	background-color: white;
	min-height: 46px;
	border-radius: 12px;
	margin-bottom: 5%;
	margin-top: -1%;
}

div#div12 {
	width: 95%;
	height: auto;
	padding: 10px;
	border: 1px solid black;
	background-color: ghostwhite;
	min-height: 46px;
	border-radius: 12px;
	margin-bottom: 2%;
}

div#div2 {
	width: 114%;
	height: 254px;
	padding: 10px;
	border: 3px solid black;
	background-color: gainsboro;
	margin-left: 16%;
	margin-top: 2%;
	margin-bottom: 0%;
	border-radius: 15px;
}

div#div3 {
	width: 39%;
	height: 128px;
	padding: 0px;
	border: 3px solid #E8E7E6;
	background-color: #E8E7E6;
	margin-left: 53%;
	margin-top: 1%;
	margin-bottom: 23%;
	border-radius: 49px;
}

.btnDrag {
	border: 1px solid rgb(0, 0, 0);
	background: #ffffff;
	padding: 5px;
	margin: 3px;
}

div#divintpercent {
	font-size: 19px;
	margin-left: -1%;
	text-decoration: none;
	font-family: monospace;
	display: inline-block;
	width: 40%;
	min-height: 33px;
}

#div1>.btnDrag {
	margin-right: 1%;
}

img#bin {
	width: 86%;
	margin-top: 4%;
	margin-left: 8%;
}

input#namebox {
	border-radius: 5px;
	box-shadow: 0px 7px 14px -7px #276873;
}

input#newgroup {
	box-shadow: 0px 5px 14px -7px grey;
}

.form-group#fg1, .form-group#fg1r {
	margin-top: 28px;
}

img#searchicon {
	margin-top: 18%;
	width: 75%;
	margin-left: 14%;
}

select#serviceList, #areaList, #cellList {
	/* 	box-shadow: 0px 4px 8px 0px grey; */
	/* 	display: list-item; */
	/* 	margin-top: 1%; */
	/* 	width: 221px; */
	
}

div#f1, div#f1r {
	margin-left: -8%;
}

select#selservice, select#selDay {
	width: 108%;
	border-radius: 5px;
	box-shadow: 0px 7px 14px -7px #276873;
}

button#create, button#creater {
	margin-left: 37%;
}

#plans>li.list-group-item {
	margin-top: 3%;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 0px;
}

.policies-list, .customer-group-list {
	padding: 2%;
}

div#plan-manager {
	margin-top: 0%;
	max-height: 745px;
	overflow-y: scroll;
}

.customer-group-list>p {
	background-color: white;
	border-color: white;
	-moz-box-shadow: 0px 0px 4px 0px #9FA4A4;
	-webkit-box-shadow: 0px 0px 4px 0px #9FA4A4;
	box-shadow: 0px 0px 4px 0px #9FA4A4;
	border: 1px solid rgb(107, 89, 89);
	font-family: monospace;
	font-size: 16px;
	text-decoration: none;
	margin-right: 1%;
	font-family: monospace;
	margin-bottom: 1%;
}

div.dropPolicy>.policy, div#tablepol>.policy, #bronzepg>p {
	background-color: white;
	border-color: white;
	-moz-box-shadow: 0px 0px 4px 0px #276873;
	-webkit-box-shadow: 0px 0px 4px 0px #276873;
	box-shadow: 0px 0px 4px 0px #276873;
	width: 40%;
}

div.policies>.titleEngine {
	background-color: white;
	border-color: white;
	-moz-box-shadow: 0px 0px 4px 0px #276873;
	-webkit-box-shadow: 0px 0px 4px 0px #276873;
	box-shadow: 0px 0px 4px 0px #276873;
	width: 40%;
}

ul#rightul>li.list-group-item {
	margin-top: -70%;
	display: inline;
	margin-left: 20%;
	cursor: pointer;
}

ul#rightul>li {
	text-align: center;
	vertical-align: middle;
	top: 15px;
}

ul#rightul {
	width: 540px;
	height: 34px;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.nav.navbar-nav.navbar-right {
	margin-right: 0%;
	width: 20%;
}

img#towericon {
	width: 26px;
}

div#divint {
	padding-bottom: 7%;
}

li#linew {
	min-height: 100px;
	color: white;
}

p.customer.ui-draggable, div.policy.ui-draggable {
	cursor: -webkit-grab;
}

li.customer-group-list {
	padding: 1%;
	color: #000000;
	list-style-type: none;
	border-radius: 3px;
	border: 2px solid #4e80ab;
	margin-bottom: 3%;
}

div.policies {
	width: 100%;
	min-height: 25%;
	color: #000;
	display: flex;
	display: -moz-inline-box;
	font-family: monospace;
}

div.dropPolicy {
	min-height: 130px;
}

p.titleEngine {
	background-color: crimson;
	padding: 0.5%;
	text-align: center;
	font-family: monospace;
	border-radius: 7px;
	border: 2px outset;
	color: black;
}

button.btn.btnDelet {
	background-color: rgb(241, 61, 49);
	padding: 2px;
	position: absolute;
	top: -15px;
	left: 343px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
	background: rgb(125, 130, 143);
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
	background: rgb(177, 169, 151);
	border-color: rgb(112, 111, 91);
}

p.slider>input {
	display: inline;
}

div.policies>.ui-slider {
	width: 20%;
	display: inline-flex;
}

input.amount {
	border: 0;
	color: #611229;
	font-weight: bolder;
	font-size: larger;
	width: 53px;
	font-family: monospace;
	margin-left: 1%;
}

button.deleteBtn {
	background-color: rgb(255, 0, 0);
	float: right;
	height: 27px;
	width: 27px;
}

span.glyphicon.glyphicon-remove-circle {
	color: #ffffff;
	padding: 0px !important;
	position: relative;
	left: -4px;
	top: 0px;
	font-size: 19px;
}

input.time {
	width: 28%;
	height: 4%;
	border-radius: 5px;
	box-shadow: 0px 7px 14px -7px #276873;
}
/*Table.css*/
.navbar-default .navbar-nav>li>a {
	font-weight: bold;
	font-size: large;
}

h3.panel-title.list {
	font-weight: bolder;
}

.panel.panel-primary.group {
	border-color: #23315A;
}

.panel-heading.filters {
	width: 92px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-rigth: 1px solid black;
}

div#latpanel {
	margin-top: 1%;
	box-shadow: 0px 4px 8px 0px grey;
	display: flex;
}

div#pgdiv {
	margin-top: 1%;
	margin-left: 3%;
	margin-bottom: 2%;
	border: 1px solid;
	padding-left: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 80%;
}

.td-content {
	cursor: pointer;
}

img.services-disabled {
	position: absolute;
	margin-left: -50px;
}

.rowServices {
	display: inline-block;
	margin-bottom: 4%;
}

div#panel-Body-Tracking {
	padding: 0;
}

div#tables {
	width: 70%;
}

div#panel-group-tracking {
	border: 0;
	padding-right: 0%;
	margin-right: 1%;
	display: inline-block;
}

div#panel-group-services {
	border: 0;
}

.labels {
	color: white;
	background-color: rgba(9, 8, 4, 0.38);
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 14px;
	text-align: center;
	width: 20px;
	height: 20px;
	white-space: nowrap;
	border-radius: 100%;
}

div#rowmaptable {
	display: flex;
	width: 104%;
}

.colmap {
	width: 51%;
}

.coltable {
	width: 47%;
	margin-left: 1%;
}

.col-md-1.leftbody2 {
	width: 17%;
	margin-top: 0%;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

div#evaluatediv {
	border: solid 1px;
	border-radius: 5px;
	width: 18%;
	padding: 9px;
	background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
	margin-left: 43%;
	display: inline;
}

a#evaluate {
	color: white;
	font-size: x-large;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
	{
	background-color: rgb(50, 63, 100);
	border: none;
}

.policyInGroup>img {
	border: 2px solid grey;
	padding: 2px;
	background: white;
	height: 100px;
}

div .policy {
	width: 23%;
	float: left;
}

.footer {
	font: 14px Verdana, Geneva, sans-serif;
	font-style: italic;
	color: #000000;
	padding: 5px 10px;
	margin: 0px;
}

.footer_hr {
	color: #AAAAAA;
}

button#cancel_editplan {
	background-image: linear-gradient(to bottom, #F59797 0, #EF1200 100%);
	background-repeat: initial;
	float: right;
}

.planName {
	border: solid 1px rgb(224, 224, 224);
	padding: 4px;
	padding-left: 13px;
	border-radius: 3px;
	margin-bottom: 4%;
}

.overspan {
	color: #611229;
	font-size: larger;
	width: 53px;
	font-family: monospace;
	margin-left: 2%;
}

button#apply {
	width: 92px;
	margin-left: 2%;
}

button.details {
	margin-top: 6px;
}

button#modify {
	margin-left: 2%;
	width: 70px;
	background-image: linear-gradient(to bottom, #ED0C0C 0, #DB6565 100%);
	background-repeat: initial;
}

button#new {
	margin-left: 2%;
	width: 70px;
	background: linear-gradient(to bottom, #9BCF8B 5%, #0B8000 100%);
}

button#evaluatePlans {
	margin-left: auto;
	width: 101px;
	background: linear-gradient(to bottom, #EFDF4B 5%, #DDBE2B 100%);
	color: black;
	font-weight: 700;
}

.brightlightplan {
	border: outset 2px rgb(112, 133, 192) !important;
	background-image: linear-gradient(to bottom, #E0EAFF 0, #FFFFFF 100%)
		!important;
}

div#content {
	vertical-align: middle;
}

h1#firstHeading {
	color: #23315A;
	font-size: 20px;
	text-align: center;
	background-color: #777;
	vertical-align: middle;
	margin-top: 2%;
	padding: 1%;
	color: white;
	border: 1px outset rgb(74, 67, 67);
}

div#bodyContent {
	background-color: #eeeeee;
}

h4.h4infowindow {
	vertical-align: middle;
	text-align: center;
}

span.icon2infowindow {
	margin-left: 7%;
	margin-right: 4%;
}

img.icon1infowindow {
	margin-right: 3%;
}

div.chartinfowindow {
	margin-left: 0;
	overflow: hidden;
	margin-top: 0;
}

/**SPAN TOOLTIP*/
/* Tooltip styling */
[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	background: rgb(174, 166, 166);
	font-weight: 500;
	color: #fff;
	padding: 4px 8px;
	font-size: 14px;
	line-height: 1.4;
	min-width: 100px;
	text-align: center;
	border-radius: 4px;
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before {
	top: 94%;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

[data-tooltip-position="right"]:before {
	left: 20%;
	margin-left: 6px;
}
/* Tooltip arrow styling/placement */
[data-tooltip]:after {
	content: '';
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after {
	top: 94%;
	margin-top: -6px;
}

[data-tooltip-position="right"]:after {
	left: 20%;
	border-width: 6px 6px 6px 0;
	border-right-color: rgb(174, 166, 166);
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	display: block;
	z-index: 50;
}

div#extendedDetails {
	border: solid 1px black;
	width: 149%;
	border-radius: 4px;
}

div#groupDetails {
	margin-left: 17px;
	margin-top: 17px;
	background-color: rgb(245, 244, 243);
	padding: 14px;
	max-width: 38%;
	font-family: Helvetica;
	font-weight: 500;
	font-size: 17px;
	border: 2px outset;
	color: rgb(13, 40, 114);
}

a#popoverOption {
	margin-bottom: 5px;
	background: rgb(28, 117, 25);
	border: 2px outset;
	color: white;
	font-weight: 100;
	font-size: 15px;
	border-radius: 6px;
	margin-left: 0;
}

div#titlePlanDetails {
	border: solid 1px rgb(35, 49, 90);
	width: 50%;
	border-radius: 4px;
	margin-top: 9px;
	margin-left: 20px;
	padding: 10px;
	font-size: large;
	font-weight: bold;
	padding-left: 19px;
	color: white;
	background-color: rgb(35, 49, 90);
}

.divNewKpi {
	display: -webkit-inline-box;
	width: 100%;
}

button#b1 {
	font-family: inherit;
	font-size: medium;
	line-height: inherit;
	margin-left: 1%;
}

.chartstitle {
	margin-top: 2%;
	margin-left: 10%;
	text-align: center;
	font-size: x-large;
	max-width: 79%;
	color: white;
	font-family: monospace;
}

span.label.label-default {
	font-size: 17px;
	font-family: helvetica;
	border-radius: 2px;
}

input#buttonKpi {
	position: relative;
	margin-right: 5%;
	border: 2px outset;
	color: rgb(255, 255, 255);
	background: rgb(119, 119, 119);
	font-weight: 900;
	cursor: help;
}

#editplan {
	margin-right: 5px;
}

customer.ui-draggable-dragging {
	width: 85% !important;
}

policy.ui-draggable-dragging {
	width: 20% !important;
}

.plan-assigned {
	font-weight: bold;
	background-color: #7fc070 !important;
}

button.deleteBtn[disabled] {
	background-color: rgb(203, 172, 172);
}

#cancelEditPlan {
	display: none;
	float: right;
}

button#saveCurrentPlan {
	display: none;
	float: right;
	margin-right: 5px;
}

.glyphicon {
	padding-right: 5px !important;
}

.dropPolicy .glyphicon-remove-circle {
	color: #ffffff;
	padding: 0px !important;
	position: relative;
	font-size: 19px;
	top: 0px;
	left: 1px;
}

.list-group-item.plan-selected {
	font-weight: bold;
	background-color: #ddf2d8 !important
}

.list-group-item.plan-selected.plan-assigned {
	font-weight: bold;
	background-color: #7fc070 !important;
}

#plans p {
	margin: 3px;
	margin-left: 10px;
}

.panel.panel-default {
	border-color: #000000;
}

div#degradation-information, div#degradation-manager {
	display: flex;
}

div#degradation-manager-configuration {
	display: none;
}

.table {
	margin-bottom: 0px;
}

div#manage-plans {
	display: flex;
}

div#manage-plans>button {
	font-weight: bold;
	height: 40px;
	width: 50%;
	margin-top: 10px;
}

.policy>img {
	width: 100%;
}

.customer>img {
	margin-right: 10px;
	border-right: 2px solid #000;
	padding-right: 5px;
}

div#groupTitle {
	font-size: 15px;
	text-align: center;
	width: 60%;
	margin: 0 5%;
	position: relative;
}

#groupTitle>img {
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

p#hint-no-policy {
	font-style: oblique;
	font-size: 14px;
}

div.PolEngine {
	margin: 0px;
	text-align: center;
	width: 25%;
}

.customer-group-list .policies .panel-heading {
	background: #2285e8;
	font-weight: bold;
	max-height: 40px;
	font-size: 20px;
	padding: 5px 0;
	position: relative;
}

#groupTitle p {
	font-size: 20px;
	border-top: 2px solid #000;
	margin-top: 10px;
	padding-top: 5px;
	margin-bottom: 0px;
}

.plan-selected span.glyphicon.glyphicon-arrow-right {
	position: absolute;
	top: 16px;
	left: 8px;
	font-size: 14px;
}

.plan-assigned span.glyphicon.glyphicon-ok {
	position: absolute;
	top: 16px;
	left: 7px;
	font-size: 14px;
}

.btnDelet span.glyphicon.glyphicon-remove-circle {
	color: #ffffff;
	padding: 0px !important;
	position: relative;
	font-size: 24px;
	top: 0px;
	left: 0px;
}

.btnDeletPol span.glyphicon.glyphicon-remove-circle {
	left: 0px;
	top: 1px;
	font-size: 16px;
}

button.btn.btnDeletPol {
	background-color: rgb(241, 61, 49);
	padding: 2px;
	position: absolute;
	top: -10px;
	left: 95px;
}

.policyInGroup {
	position: relative;
}

div#plan-buttons>button {
	font-weight: bold;
}

div.div1.no-groups {
	border: 2px solid #000;
}

div#degradation-information .panel-body {
	min-height: 95px;
}

button#createNewPlan {
	margin-right: 4%;
}

#plan-name {
	color: #373030;
	width: 55%;
}

p#hint-no-customers, p#hint-empty-plan, p#hint-no-plan {
	font-size: 25px;
	text-align: center;
	margin: 5%;
	font-style: oblique;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 10px;
	width: 80px;
}

#top-navigation {
	margin-bottom: 0px;
}

#degradation-container {
	padding-top: 30px;
	background: transparent;
}

#predictionTable tbody {
	margin-bottom: 0px;
	cursor: pointer;
}

#predictionTable th, #predictionTable td {
	text-align: center;
}

#predictionTable img {
	margin: 5px;
}

#map-filters h4 {
	background-color: #4e80ab;
	width: 35%;
	color: #fff;
	font-weight: bold;
	box-shadow: 0px 3px 6px 0px grey;
	border-radius: 5px;
}

#map-filters h4 span {
	font-size: 16px;
	padding: 5px;
	margin-left: 5px;
}

#map-filters .panel-body {
	padding: 0 30px 10px;
}

button#reset {
	margin-top: 45px;
	width: 40%;
	font-weight: bold;
}

div#panel-body-table {
	padding: 0px;
	overflow-y: scroll;
	max-height: 659px;
}

#qoe-body {
	padding-top: 30px;
}

table#predictionTable img {
	width: 30px;
}

#unassignPlan {
	display: none;
}

#plan-info {
	padding-top: 2%;
}

div#configuration-top {
	padding-top: 40px;
}

#updateModal {
	padding-top: 20%;
}

button#update {
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 3px solid #4e80ab;
}

legend>.checkbox {
	display: inline;
	font-size: 14px;
	margin-left: 3%;
}

legend.simulator {
	margin-bottom: 5px;
	font-size: 19px;
	border-bottom: 1px solid #4e80ab;
}