@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.ttf') format('truetype');
}

p.navbar-text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
    margin: 5px 15px;
}

div#panel-body {
	background: linear-gradient(to bottom, rgba(166, 185, 213, 1) 0%,
		rgba(255, 255, 255, 1) 50%);
}

.container-fluid {
	background: linear-gradient(to bottom, rgba(166, 185, 213, 1) 0%,
		rgba(255, 255, 255, 1) 50%);
}

.container-fluid.nav {
	background: linear-gradient(to bottom, rgba(166, 185, 213, 1) 0%,
		rgba(255, 255, 255, 1) 50%);
}

.panel-heading.navbar {
	margin-bottom: 0px !important;
}

.panel-default>.panel-heading {
	background: #4e80ab;
	color: #fff;
}

span.label.label-default {
	font-size: initial;
	background: #4e80ab;
	box-shadow: 0px 4px 8px 0px grey;
}

.chartstitle {
	background-color: #4e80ab;
}

span.label.label-default {
	background: #4e80ab;
}

.panel-heading.2 {
	color: #fff;
	border-color: #4e80ab;
	background-image: none;
	background-color: #4e80ab;
}

input#buttonKpi {
	margin-top: -60px;
	float: right;
}

div#groupDetails {
	margin-left: 17px;
}