{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>PGF Mitigation Plan Simulation</title>
    <style type="text/css">
    .chart_legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    .chart_fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
    }
    .regular-label {
        font-size: 1em;
        padding-right: 10px;
    }
    .share_table td {
        padding: 4px;
    }
    .share_table {
        width: auto;
    }
    .parameter_bandwidth_legend, .parameter_gating_legend {
        margin-bottom: 0;
        font-size: 0.95em;
        font-weight: bold;
    }
    .share_slider.slider-handle {
        background: lavender;
    }
    .alert {
        height: 0.6em;
        line-height: 0;
        display: none;
    }
    .close {
        line-height: 0 !important;
    }
    .share_group_value {
        margin-left: 10px;
    }
    .chart_one, .chart_two, .chart_three {
        margin-right: 10px;
    }
    .policy_item {
        text-align: right;
        clear: both;
    }
    .policy_item input[type=checkbox], .policy_item label {
        float: left;
    }
    .policy_item input[type=radio] {
        margin-left: 10px;
        float: right;
    }
    .color-box {
        width: 15px;
        height: 10px;
        display: inline-block;
        background-color: #ccc;
        margin-right: 5px;
    }
    a.tip {
        outline:none;
    }
    a.tip strong {
        line-height:20px;
    }
    a.tip:hover {
        text-decoration:none;
    } 
    a.tip span {
        z-index:10;
        display:none;
        padding:4px 10px;
        margin-top:-10px;
        margin-left:10px;
        width:250px;
        line-height:15px;
    }
    a.tip:hover span{
        display:inline;
        position:absolute;
        color:#111;
        border:1px solid #DCA;
        background:#fffAF0;
    }
    .callout {
        z-index:20;
        position:absolute;
        top:30px;
        border:0;
        left:-12px;
    }
    
/*CSS3 extras*/
a.tip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation.js" %}'></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation_charts.js" %}'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/css/bootstrap-slider.css">
    <link rel="stylesheet" href='{% static "css/pgf_simulation.css" %}'>
    <link rel="shortcut icon" href='{% static "ico/favicon.ico" %}'>
</head>

<body>

<div class="container-fluid" id="chart-container">
    <div class="jumbotron" id='chart_title'></div><div id="JSON_input"></div><div id="JSON_output"></div>

    <div class="chart_container" id="JSON_output_1"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <fieldset id="chart_1_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization:</legend>
                <input type="radio" name="chart_1_radio" id="chart_1_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_1_radio" id="chart_1_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_1_radio" id="chart_1_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="chart_container" id="JSON_output_2"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <fieldset id="chart_2_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization:</legend>
                <input type="radio" name="chart_2_radio" id="chart_2_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_2_radio" id="chart_2_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_2_radio" id="chart_2_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="chart_container" id="JSON_output_3"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <fieldset id="chart_3_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization:</legend>
                <input type="radio" name="chart_3_radio" id="chart_3_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_3_radio" id="chart_3_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_3_radio" id="chart_3_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="chart_container" id="JSON_output_4"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <fieldset id="chart_4_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization:</legend>
                <input type="radio" name="chart_4_radio" id="chart_4_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_4_radio" id="chart_4_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_4_radio" id="chart_4_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <button type="button" class="btn btn-primary center-block" id="back_button" style="display: none;">Simulate other plans</button>

</div>

</div>
<p id="void"></p>
<div class="container">
    <!-- Site footer -->
    <footer class="footer">
        <p>A fine work by <label>Technology and Innovation, Ericsson Spain</label></p>
        <p>&copy; LM Ericsson 2015</p>
    </footer>
</div>

<script>
    $( document ).ready(function() {
       //$('.tip').tipr();
    });
    $('#chart_title').html ("<h2>Simulation with ID: " + simulation_chart_object.id + '</h2><p>Date: ' + simulation_chart_object.date +'</p>');
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawVisualization);

function drawVisualization() {
    var data_input = {};       // Main container for simulation results: it is an object with the KPI name as key and 
                           //an array as value
                           // There are as many arrays as customer groups in the simulation results
                           // Each array is, in itself, an array of arrays. The firs element of these arrays is the 
                           //customer segment name. The remaining ones are the KPI gain values for each of the plans
    var colors = ['#f1595f', '#79c36a', '#599ad3', '#f9a65a', '#9e66ab', '#cd7058', '#d77fb3', '#727272']
    var options = {
        title : '',
        vAxis: {title:"KPI gain (%)", minValue: -100, maxValue: 100},
        hAxis: {title:"Customer segments"},
        height: 400, 
        seriesType: 'bars',
        focusTarget: 'category',
        tooltip: {isHtml: true, trigger: 'selection', ignoreBounds: true},
        };
    var options_av = {
        title : '',
        vAxis: {title:"KPI gain (%)", minValue: -100, maxValue: 100},
        hAxis: {title:"Customer segments"},
        height: 400, 
        seriesType: 'line',
        tooltip: {isHtml: true, trigger: 'selection', ignoreBounds: true},
    };
    var options_wav = $.extend(true, {}, options_av);
    data_input["Video Freeze Rate"] = []
    data_input["Video Freeze Rate"].push (["Gold", 23, 42])
    data_input["Video Freeze Rate"].push (["Silver_A", 3, 21])
    data_input["Video Freeze Rate"].push (["Silver_B", -3, 50])
    data_input["Video Accessibility"] = []
    data_input["Video Accessibility"].push (["Gold", 63, -3])
    data_input["Video Accessibility"].push (["Silver_A", 11, 41])
    data_input["Video Accessibility"].push (["Silver_B", -30, 60])
    data_input_av["Video Freeze Rate"] = []
    data_input_av["Video Freeze Rate"].push (["Gold", 23, 60])
    data_input_av["Video Freeze Rate"].push (["Silver_A", 23, 60])
    data_input_av["Video Freeze Rate"].push (["Silver_B", 23, 60])
    data_input_av["Video Accessibility"] = []
    data_input_av["Video Accessibility"].push (["Gold", 11, 3])
    data_input_av["Video Accessibility"].push (["Silver_A", 11, 3])
    data_input_av["Video Accessibility"].push (["Silver_B", 11, 3])
    var data_input_wav = $.extend(true, {}, data_input)
    
    kpi_names = ["Video Freeze Rate", "Video Accessibility"]

    var head_row = [];         // Variables containing the heading row for data_input and the like (it contains the customer
                           //segment names)
    head_row.push('Customer segment');
    head_row.push('Good plan');
    head_row.push('Bad plan');
    
    var image_path = '{% static "img/callout.gif" %}'

    $.each(kpi_names, function (index, kpi_name) {
        var data_reg = new google.visualization.DataTable();
        var data_av  = new google.visualization.DataTable();
        var data_wav = new google.visualization.DataTable();
            
        // Definition of column type            
        $.each (head_row, function (i, val) {
            if (i === 0) {
                data_reg.addColumn('string', val);
                data_reg.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
                data_av.addColumn('string', val);
            } else {
                data_reg.addColumn('number', val);
                data_av.addColumn('number', val);
                data_av.addColumn({type: 'string', role: 'annotation'});
                data_av.addColumn({type: 'string', role: 'annotationText', p: {'html':true}});
            }
        });
        var plan_number = 2
        options.title = kpi_name + ' simulation results';
        options.colors = colors.slice(0, plan_number);
        options_av.title = kpi_name + ' simulation results';
        options_av.colors = colors.slice(0, plan_number);
        options_wav.title = kpi_name + ' simulation results';
        options_wav.colors = colors.slice(0, plan_number);

        var div_id = 'JSON_output_' + (index+1);
        var div_id_av = 'JSON_output_' + (index+3);
        var chart = new google.visualization.ComboChart(document.getElementById(div_id));
        var chart_av = new google.visualization.ComboChart(document.getElementById(div_id_av));
        
        var data_table = [];
        var data_table_av = [];
        $('.tooltip_css').css('content', 'Good Plan:\A - Gold: Wifi Offload\A - Silver Domestic: Switch to 3G');

        $.each (data_input[kpi_name], function (i, row) {
            var subs_group_text = '<div style="padding:5px 5px 5px 5px;">\n' +
                                        '<b>' + row [0] + '</b><br/>' + '<table>'
            $.each (row, function (j, item) {
                if (j !== 0) {
                    subs_group_text = subs_group_text + 
                                '<td style="border:0;margin:0;padding:0;white-space: nowrap;">' +
                                '<div class="color-box" style="background-color: '+ colors[j-1] +';"></div>' +
                                '<b>' + head_row[j].replace(' ', '&nbsp;') + '</b>:&nbsp;</td>' + 
                                '<td style="border:0;margin:0;padding:0;white-space: nowrap;">' + item + '%</td></tr>' +
                                '<tr><td colspan="2"><a class="tip">See plan features<span><img class="callout" src="' + image_path + '" /><strong>Good Plan</strong><br /> <ul><li>Gold: Offload to Wifi</li><li>Silver corporate: bandwidth throttling (64 kbyts)</li><li>Traffic gating: video and web browsing banned.</li></ul></span></a></td></tr>'
                }
            });
            subs_group_text = subs_group_text + '</table>' + '</div>'
            var row_to_copy = $.extend(true, [], row);
            row_to_copy.splice(1, 0, subs_group_text);
            data_table.push(row_to_copy);
        });
        data_reg.addRows(data_table);
        chart.draw(data_reg, options);
        
        $.each (data_input_av[kpi_name], function (i, row) {
            var row_to_copy = $.extend(true, [], row);
            for (j=0; j<(row.length-1); j++) {
                row_to_copy.splice((j+2*(j+1)), 0, head_row[j+1], 'This is ' + head_row[j+1]);
            }
            data_table_av.push(row_to_copy);
        });
        data_av.addRows (data_table_av);
        chart_av.draw(data_av, options_av);
    });
}

function get_plan_text (plan_name) {
    var plan_features = $.grep(JSON_input["plans"], function(e){ return e["plan_ref"] == plan_name; });
    
    return '&nbsp;';
}

function get
/*    //// Logo management
    var LOGO = "ontic";
    $('#logo').attr('id','logo_'+LOGO);

    // Initial form reset on document load    
    $( document ).ready(function() {
        $('input:checkbox').removeAttr('checked');
        $('option[value="-1"]').attr('selected', 'selected');
        $('.share').val('0');
        $('#planselection').val('1');
        $('#planselector_1').focus();
        $('.parameter_bandwidth_legend, .parameter_gating_legend, .64kb_legend, .1Mb_legend, .3Mb_legend, .chart_one, .chart_two, .chart_three, .clone_radio').attr('data-toggle', 'tooltip');
        $('.parameter_bandwidth_legend, .parameter_gating_legend').attr('data-placement', 'left');
        $('.64kb_legend, .1Mb_legend, .3Mb_legend').attr('data-placement', 'right');
        $('.chart_one, .chart_two, .chart_three').attr('data-placement', 'bottom');
        $('.clone_radio').attr('data-placement', 'top');
        $('.parameter_bandwidth_legend').attr('title', 'Select the bandwith that will be available for customers from now');
        $('.parameter_gating_legend').attr('title', 'Select the services that will not be available for customers any more');
        $('.64kb_legend').attr('title', '64 kb limitation roughly equals traffic banning');
        $('.1Mb_legend').attr('title', 'Traffic limitation but still enjoyable');
        $('.3Mb_legend').attr('title', '3 Mb limitation means almost no limitation');
        $('.chart_one').attr('title', 'Shows per customer group KPI gain');
        $('.chart_two').attr('title', 'Shows average KPI gain (same weight for every group)');
        $('.chart_three').attr('title', 'Shows weighted KPI gain (considering group weights)');
        $('.clone_radio').attr('title', 'Check to clone this policy in the rest of plans');
        $('[data-toggle="tooltip"]').tooltip();
        $(".share_slider").slider({tooltip: 'hide'});
        $("#share_total").slider({tooltip: 'hide'});
        //console.log( "Everything resetted!" );
    });
    
    // Plan panes shown/hidden
    $('#plsel_buttons button').click (show_panes);
    
    // Slider control
    var total_slider_value = 0;
    $(".share_slider").on("slide", function(slideEvt) {
        var value_id = '#' + $(this).attr('data-slider-id') + '_value';
        $(value_id).text(slideEvt.value + ' %');
        var share_total = compute_share();
        set_share_slider (share_total[0]);
    });
*//*    $(".share_slider").change(function() {
        //set_shares();
        //var slider_id = '#' + $(this).attr('id');

        var value_id = '#' + $(this).attr('data-slider-id') + '_value';
        $(value_id).text($(this).val() + ' %');
        //$(value_id).text($(slider_id).val() + ' %');
        //console.log($(this).val());
        
        //console.log ('Compute share to chart the total')
        var share_total = compute_share();
        //console.log(share_total[0]);
        set_share_slider (share_total[0]);
    });*/
/*
    // JSON submission and chart plotting
    $('#submit_button').click (gather_and_submit_simulation_form);

    // Simulate again
    $('#back_button').click (function () {
         document.location.reload(true);
    });
    
    // Group policies selection/deselection
    $('.share_checkbox').change (policy_selection);

    // Function to choose chart type
    $(':radio').change (choose_chart);

    // function to always make a button active
    $('body').on('click', '.btn-group button', function (e) {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
    });
*/
</script>
</body>
</html>